@font-face {
  font-family: Inter;
  src: url('./font/Inter-Regular.otf');
}

body {
  font-family: Inter !important;
  color: #333333;
  font-size: 16px;
}

.secondary-text {
  color: #828282
}

.or {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #828282;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.forget {
  color: #2F80ED;
  text-decoration: none;
}

.or span {
  background: #fff;
  padding: 0 20px;
}

.login-btn {
  background: #2F80ED !important;
  border: #2F80ED !important;
}

.alert {
  position: absolute;
  top: 0px;
  left: 440px;
}